<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>fly0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{83,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{83,97}}</string>
                <key>sourceSize</key>
                <string>{107,111}</string>
            </dict>
            <key>fly1.png</key>
            <dict>
                <key>frame</key>
                <string>{{87,2},{83,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{83,97}}</string>
                <key>sourceSize</key>
                <string>{107,111}</string>
            </dict>
            <key>fly2.png</key>
            <dict>
                <key>frame</key>
                <string>{{172,2},{83,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{83,97}}</string>
                <key>sourceSize</key>
                <string>{107,111}</string>
            </dict>
            <key>fly3.png</key>
            <dict>
                <key>frame</key>
                <string>{{257,2},{83,97}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,6},{83,97}}</string>
                <key>sourceSize</key>
                <string>{107,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>fly.png</string>
            <key>size</key>
            <string>{342,101}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71faf3ff7d2d45f542edcfbf7f8221ee:5d22f0c1b579f504aeb501e870e1458f:1ce79e2fdbfe893a67683f01bb274a8f$</string>
            <key>textureFileName</key>
            <string>fly.png</string>
        </dict>
    </dict>
</plist>
