<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>run0.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,2},{79,95}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,8},{79,95}}</string>
                <key>sourceSize</key>
                <string>{107,111}</string>
            </dict>
            <key>run1.png</key>
            <dict>
                <key>frame</key>
                <string>{{787,2},{73,99}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,5},{73,99}}</string>
                <key>sourceSize</key>
                <string>{107,111}</string>
            </dict>
            <key>run10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{55,109}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,1},{55,109}}</string>
                <key>sourceSize</key>
                <string>{107,111}</string>
            </dict>
            <key>run11.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,2},{47,109}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,1},{47,109}}</string>
                <key>sourceSize</key>
                <string>{107,111}</string>
            </dict>
            <key>run12.png</key>
            <dict>
                <key>frame</key>
                <string>{{277,2},{47,109}}</string>
                <key>offset</key>
                <string>{3,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,0},{47,109}}</string>
                <key>sourceSize</key>
                <string>{107,111}</string>
            </dict>
            <key>run13.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{57,105}}</string>
                <key>offset</key>
                <string>{-1,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,1},{57,105}}</string>
                <key>sourceSize</key>
                <string>{107,111}</string>
            </dict>
            <key>run14.png</key>
            <dict>
                <key>frame</key>
                <string>{{515,2},{63,103}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,2},{63,103}}</string>
                <key>sourceSize</key>
                <string>{107,111}</string>
            </dict>
            <key>run15.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{73,99}}</string>
                <key>offset</key>
                <string>{-2,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,4},{73,99}}</string>
                <key>sourceSize</key>
                <string>{107,111}</string>
            </dict>
            <key>run2.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,2},{65,103}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,3},{65,103}}</string>
                <key>sourceSize</key>
                <string>{107,111}</string>
            </dict>
            <key>run3.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{61,105}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,2},{61,105}}</string>
                <key>sourceSize</key>
                <string>{107,111}</string>
            </dict>
            <key>run4.png</key>
            <dict>
                <key>frame</key>
                <string>{{59,2},{55,109}}</string>
                <key>offset</key>
                <string>{1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{27,0},{55,109}}</string>
                <key>sourceSize</key>
                <string>{107,111}</string>
            </dict>
            <key>run5.png</key>
            <dict>
                <key>frame</key>
                <string>{{173,2},{53,109}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,1},{53,109}}</string>
                <key>sourceSize</key>
                <string>{107,111}</string>
            </dict>
            <key>run6.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,2},{55,109}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,1},{55,109}}</string>
                <key>sourceSize</key>
                <string>{107,111}</string>
            </dict>
            <key>run7.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,2},{63,103}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,3},{63,103}}</string>
                <key>sourceSize</key>
                <string>{107,111}</string>
            </dict>
            <key>run8.png</key>
            <dict>
                <key>frame</key>
                <string>{{710,2},{75,101}}</string>
                <key>offset</key>
                <string>{0,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,4},{75,101}}</string>
                <key>sourceSize</key>
                <string>{107,111}</string>
            </dict>
            <key>run9.png</key>
            <dict>
                <key>frame</key>
                <string>{{645,2},{63,103}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,4},{63,103}}</string>
                <key>sourceSize</key>
                <string>{107,111}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>run.png</string>
            <key>size</key>
            <string>{1018,113}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fb80af5e50f2357498e7a2c54b256d4b:31c1308f89d1e703ee4c24440eaf80e9:6290a42444d497ec9c3e7c82966554c5$</string>
            <key>textureFileName</key>
            <string>run.png</string>
        </dict>
    </dict>
</plist>
